# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

/graphs
/seperate graphs
/data/ears
/data/ears_yolo_v2
/data/ears_yolo_v2.zip
/data/ears_yolo.zip
detectors/cascade_detector/cascades/haarcascade_profileface.xml
detectors/cascade_detector/cascades/haarcascade_righteye_2splits.xml
detectors/cascade_detector/cascades/haarcascade_russian_plate_number.xml
detectors/cascade_detector/cascades/haarcascade_smile.xml
detectors/cascade_detector/cascades/haarcascade_upperbody.xml
detectors/cascade_detector/cascades/lbpcascade_frontalcatface.xml
detectors/cascade_detector/cascades/lbpcascade_frontalface.xml
detectors/cascade_detector/cascades/lbpcascade_profileface.xml
detectors/cascade_detector/cascades/lbpcascade_silverware.xml
detectors/cascade_detector/cascades/haarcascade_eye_tree_eyeglasses.xml
detectors/cascade_detector/cascades/haarcascade_eye.xml
detectors/cascade_detector/cascades/haarcascade_frontalcatface_extended.xml
detectors/cascade_detector/cascades/haarcascade_frontalcatface.xml
detectors/cascade_detector/cascades/haarcascade_frontalface_alt_tree.xml
detectors/cascade_detector/cascades/haarcascade_frontalface_alt.xml
detectors/cascade_detector/cascades/haarcascade_frontalface_alt2.xml
detectors/cascade_detector/cascades/haarcascade_frontalface_default.xml
detectors/cascade_detector/cascades/haarcascade_fullbody.xml
detectors/cascade_detector/cascades/haarcascade_lefteye_2splits.xml
detectors/cascade_detector/cascades/haarcascade_licence_plate_rus_16stages.xml
detectors/cascade_detector/cascades/haarcascade_lowerbody.xml
Training_epochs_IoU_correlation.png
vj_scale_iou_corr.png
vj_scale_time_corr.png
.vscode/settings.json
